.submit
  @extend %marpad
  width: 100px
  height: 30px
  color: $white
  // background: $governor-bay
  border: none
  border-radius: 3px
  outline: none
  box-sizing: border-box
  display: block
  position: relative

  &:hover
    background: $palatinate-blue
