.input
  @extend %marpad
  width: 200px
  height: 30px
  margin: 0 0 10px 0
  padding: 0 10px
  color: $ebony-clay
  background: $white
  border: 1px solid $manatee
  border-radius: 3px
  outline: none
  box-sizing: border-box
  display: inline-block
  position: relative
  cursor: text

.input--focus
  border: 1px solid $governor-bay

.input--warning
  border: 1px solid $medium-candy-apple-red
  outline: none

.input--warning-text
  @extend %marpad
  color: $medium-candy-apple-red
  font-size: 16px
  line-height: 1.5em
  display: inline-block
  position: absolute
  margin: 5px 0 0 0
  opacity: 0
  cursor: default

.input--warning-text--on
  opacity: 1
  margin: 5px 0 0 10px
