.canvas
  %marpad
  // border: 1px solid $geyser
  // width: 1040px
  // height: 1536px
.average
  width: 200px
  height: 200px
  display: inline-block
  background: $mystic

.background
  width: 100%
  height: 500px
  padding: 30px

.image
  // width: 200px
  height: 200px
  margin: 0 15px 35px 15px
  border-radius: 5px
  box-shadow: 0 25px 35px -15px $mine-shaft
  // position: absolute

.imgblock
  display: inline-block

.parag
  font-family: 'Helvetica Neue', sans-serif
  font-size: 12px
  margin: -20px 0 50px 15px
  z-index: 2
  line-height: 1.5
